html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
  }

header{
    margin-bottom: 10px;
    color: rgb(224, 222, 222);
    padding: 2px;
    text-align: center;
    background: linear-gradient(45deg, aqua 0%, aquamarine 43%,cornflowerblue 100%);
}

img{
    width: 250px;
    height: 130px;
    margin: 10px;
}

span{
    margin-right: 10px;
    font-weight: bold;
    font-size: 2em;
}

#total{
    padding: 7px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#billetes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

footer{
    margin-top: 10px;
    color: rgb(224, 222, 222);
    height: 40px;
    padding: 1em;
    display: flex;
    background: linear-gradient(45deg, aqua 0%, aquamarine 43%,cornflowerblue 100%);
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}